@import "compass";
@import "mixins.scss";

.post-item{
  padding-bottom:10px;
  box-shadow: none;
  img{
    max-width: 100%;
  }
  .score{
    a{
      position: relative;
      text-indent: -1000px;
      display: block;
    }
    .up{
      &:before{
          @include triangle(
          $direction : top,
          $position  : top 0 left 0,
          $color     : #3498db,
          $size      : .75em
        );
      }
    }
    .down{
      &:before{
          @include triangle(
          $direction : bottom,
          $position  : top 0 left 0,
          $color     : #3498db,
          $size      : .75em
        );
      }
    }
  }
  .subreddit, .comment, .submitted{
    display: block;
    margin-top:5px;
  }
  .well{
    background: transparent;
    border: 0px;
    padding: 10px 0px 0 10px;
    margin-bottom: 10px;
    box-shadow: none;
    border-top: 1px solid #ececec;
  }
}